@import '../../scss/abstracts/mixins';
@import '../../scss/abstracts/variables';

.navItem {
  list-style: none;

  & button {
    @include button;
    border: none;
    background-color: transparent;
    @include font (1.5rem, 1.5rem, normal, uppercase);
  }
}
