@import '../../scss/abstracts/mixins';
@import '../../scss/abstracts/variables';

.navItem {
  list-style: none;
  padding: 10px;
  border-radius: 5px;
  @include font (1.5rem, 1.5rem, normal, uppercase);
}

.active {
  background-color: $color-secondary;
}




