.container {
  max-width: 1140px;
  margin: auto;
  padding: 50px 0 50px 0;
  display: grid;
  grid-template:
    "header header"
    "nav nav"
    "question question"
    "answer description"
    "btn btn" / 1fr 1fr;
  gap: 10px;
}
