$color-primary: #8E6847;
$color-block-primary: #8e684783;
$color-block-secondary: #538E5A;
$color-secondary: #354060;
$color-text: #ffffff;
$color-background: #060E24;
$color-wrong: #FF3333;
$color-right: #0F4315;
