$color-primary: #8E6847;
$color-block-primary: #8e684783;
$color-block-secondary: #538E5A;
$color-secondary: #354060;
$color-text: #ffffff;
$color-background: #060E24;
$color-wrong: #cf4b41;
$color-right: #0F4315;


$desktop-width: 1200px;
$small-desktop-width: 992px;
$tablet-large-width: 768px;
$tablet-width: 576px;
