@import '../../scss/abstracts/mixins';
@import '../../scss/abstracts/variables';

.modal {
  display: block;
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgb(0,0,0);
  background-color: rgba(0,0,0,0.7);
}

.modal-content {
  @include block ($color-block-secondary, block);
  @include font (1.5rem, 1.5rem, normal, none);
  margin: 15% auto;
  width: 50%;
  animation: .3s ease-in showModal;
}

@keyframes showModal {
  from {
    width: 0;
  }

  to {
    width: 80%;
  }
}
