@import '../../scss/abstracts/mixins';
@import '../../scss/abstracts/variables';

.description {
  grid-area: description;
  width: 100%;
  @include block ($color-block-primary, block, none);
}

.descriptionInner {
  display: flex;
  justify-content: space-between;

  h3 {
    @include font (2.5rem, 2.5rem);
    margin: 10px 0 10px 0;
  }
  h4 {
    @include font (1.8rem, 1.8rem);
    margin: 7px 0 7px 0;
  }
}

.birdImg {
  flex: 1 1 20%;
  max-width: 150px;
  margin-right: 20px;
  height: 150px;
  background-image: url(../../../public/images/logo/logo.png);
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
  border-radius: 10px;
  transition: all .3s ease;
}

.info {
  flex: 1 1 80%;
}

.hr {
  opacity: .3;
}

.text {
  @include font (1.5rem, 1.5rem);
}
