@import './scss/abstracts/variables';
@import './scss/abstracts/mixins';

.app {
  width: 100%;
  height: 100%;
  background: radial-gradient(circle, $color-background 0%, $color-secondary 100%);

  @include media-tablet {
    width: 100vw;
    height: 100vh;
  }
}
