@import '../../scss/abstracts/mixins';
@import '../../scss/abstracts/variables';

.answer {
  @include block ($color-block-primary, flex, space-between);
  @include font (1.5rem, 1.5rem);
  align-items: center;

  &:not(:first-child) {
    border-top: none;
  }
}
